.thumbnail img{
    width: 180px;
    height: 180px;
    padding: 5px;
}
.thumbnail {
    border: gainsboro;
    border-style:solid;
    border-image-width: 1px;
}
.form {
margin-top: 40px;

}
p {
    font-size: 10px;
}
.photo {
    display:inline-grid;
}